<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>PDBe Mol* JS Plugin Demo</title>

    <!-- Mol* CSS & JS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/pdbe-molstar@3.2.0/build/pdbe-molstar-light.css"
    />
    <script6y 
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/pdbe-molstar@3.2.0/build/pdbe-molstar-plugin.js"
    ></script>

    <style>
      #myViewer {
        float: left;
        width: 700px;
        height: 400px;
        position: relative;
        margin: 20px;
      }
      .msp-plugin ::-webkit-scrollbar-thumb {
        background-color: #474748 !important;
        border-radius: 10px;
      }
    </style>
  </head>

  <body>
    <h3>PDBe Mol* JS Plugin Demo</h3>
    <div id="myViewer"></div>

    <script>
      // Asynchronously initialize the Mol* plugin
      async function initMolstar() {
        try {
          // Fetch the pdb file
          
          const pdbText = await response.text();

          // Create a Blob URL from the pdb text
          const blob = new Blob([pdbText], { type: 'text/plain' });
          const blobPDBURL = URL.createObjectURL(blob);

          // Configure and render the Mol* plugin
          const viewerInstance = new PDBeMolstarPlugin();
          const options = {
            customData: { url:
              blobPDBURL,
              format: 'pdb'
            },
            alphafoldView: true,
            bgColor: { r: 255, g: 255, b: 255 },
            hideCanvasControls: [
              'selection',
              'animation',
              'controlToggle',
              'controlInfo',
            ],
            sequencePanel: true,
            landscape: true,
          };
          const viewerContainer = document.getElementById('myViewer');
          viewerInstance.render(viewerContainer, options);

          // Cache the pdb text globally for other uses
          window.cachedPdbData = pdbText;
        } catch (error) {
          console.error('Error fetching the pdb file:', error);
        }
      }

      // Start the initialization
      initMolstar();
    </script>
  </body>
</html>

